@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color: rgb(250, 250, 250);
}
:root {
  --main-color: #183b56;
  --secondary-color: #577592;
  --third-color: #2294ed;
  --fourth-color: #1d69a3;
}
ul li {
  list-style-type: none;
  color: black;
}
a {
  color: black;
  text-decoration: none;
}
p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  line-height: 1.4rem;
}
body {
  font-family: "Poppins", sans-serif;
}
i {
  cursor: pointer;
  color: white;
}
.container {
  max-width: 80vw;
  margin-inline: auto;
}

/* Nav */

header {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 14px 5px rgb(104, 102, 102);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  height: 60px;
}
/* Nav Left Part */
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo i {
  margin: 0 8px 0 25px;
  font-size: 25px;
  color: whitesmoke;
  transition: all 50ms ease-in 0s;
}
.nav-logo h4 {
  cursor: pointer;
  font-size: 15px;
  color: white;
  transition: all 50ms ease-in 0s;
}

.nav-logo h4:hover {
  color: var(--secondary-color);
}
.nav-logo i:hover {
  color: var(--secondary-color);
}

.nav-logo h4:active {
  color: #9a0000;
}
.nav-logo i:active {
  color: #9a0000;
}

.nav-logo a img {
  /* height: 60px; */
  width: 80px;
}

/* Nav Middle part */
.nav-link {
  display: flex;
  justify-content: space-around;
  width: 45vw;
  font-size: 1.2vw;
  border-left: 1px solid rgb(152, 150, 150);
  border-right: 1px solid rgb(152, 150, 150);
}
.bars-for-nav {
  display: none;
}
.nav-link a {
  color: white;
  transition: all 50ms ease-in 0s;
}
.nav-link a:hover {
  color: var(--secondary-color);
}
.nav-link a:active {
  color: #9a0000;
}

/* Nav Search Part or right part */
.nav-search {
  gap: 15px;
  /* width: 14vw; */
  display: flex;
  align-items: center;
}
.nav-search .nav-search-box {
  transition: all 50ms ease-in 0s;
  width: 200px;
  height: 25px;
  font-size: 1vw;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid rgb(183, 157, 157);
  font-family: "Roboto", sans-serif;
}
.nav-search button i {
  color: rgb(0, 0, 0);
}
.nav-search button {
  border-radius: 4px;
  padding: 1.2px 20px;
  font-size: 1.4vw;
  background-color: white;
  color: rgb(0, 0, 0);
  transition: all 50ms ease-in 0s;
}

.nav-search button:hover {
  background-color: var(--secondary-color);
}
.nav-search button:active {
  background-color: #9a0000;
}
#search-for-nav {
  display: none;
}
/* main code for project */
.all-boxes-cont {
  margin: 10px 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}

.project-boxes {
  width: 360px;
  min-height: 400px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 10px 1px#9c9e9e;
  cursor: pointer;
  overflow: hidden;
  transition: all 90ms ease 0s;
  display: flex;
  flex-direction: column;
}
.project-boxes img{
  width: 100%;
  height: 180px;
  object-fit: fill;
}
.project-boxes h1 a{
  text-decoration: underline;
  color: #0091ff;
}
.project-boxes h1{
  margin: 5px 7px;
  font-weight: 500;
}
.project-boxes p {
  margin: 5px 7px;
}
.project-boxes:hover {
  box-shadow: 4px 4px 10px 1px#6b6b6b;
  background-color: #f4fafc;
  transform: translateY(-2px);
}

/* Responsive */
@media (max-width: 600px) {
  /* nav*/
  nav {
    justify-content: space-around;
  }
  .nav-logo h4 {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .bars-for-nav {
    display: inline-block;
    font-size: 7vw;
  }
  .nav-search .nav-search-box {
    display: none;
    color: white;
  }
  .nav-search button {
    display: none;
  }
  #search-for-nav {
    display: inline-block;
    font-size: 5vw;
    margin-right: 2vw;
  }
}
