*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    padding: 20px;
}
a{
    font-size: 20px;;
    text-decoration: none;
    display: block;
    color: rgb(0, 0, 0);
    margin: 3vw 0;

}

span{
    margin-right:2vw;
    text-decoration: underline;  
    color: rgb(9, 92, 175);
}


