@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* presets */
:root {
    --main-color: #183b56;
    --secondary-color: #577592;
    --third-color: #2294ed;
    --fourth-color: #1d69a3;
}
ul li {
    list-style-type: none;
    color: black;
}
a {
    color: black;
    text-decoration: none;
}

body {
    height: 100vh;
    width: 100vw;
}
.container {
    max-width: 80vw;
    margin-inline: auto;
}
/* nav */
header {
    background-color: rgb(0, 0, 0);
    box-shadow: 2px 2px 14px 5px rgb(104, 102, 102);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    height: 60px;
  }
  /* Nav Left Part */
  .nav-logo {
    display: flex;
    align-items: center;
    width: 15vw;
  }
  .nav-logo i {
    margin: 0 8px 0 25px;
    font-size: 25px;
    color: whitesmoke;
    transition: all 50ms ease-in 0s;
  }
  .nav-logo h4 {
    cursor: pointer;
    font-size: 15px;
    color: white;
    transition: all 50ms ease-in 0s;
  }
  
  .nav-logo h4:hover {
    color: var(--secondary-color);
  }
  .nav-logo i:hover {
    color: var(--secondary-color);
  }
  
  .nav-logo h4:active {
    color: #9a0000;
  }
  .nav-logo i:active {
    color: #9a0000;
  }
  
  .nav-logo a img {
    /* height: 60px; */
    width: 50px;
  }
  
  /* Nav Middle part */
  .nav-link {
    display: flex;
    justify-content: space-around;
    width: 45vw;
    font-size: 1.2vw;
    border-left: 1px solid rgb(152, 150, 150);
    border-right: 1px solid rgb(152, 150, 150);
  }
  .bars-for-nav {
    display: none;
  }
  .nav-link a {
    color: white;
    transition: all 50ms ease-in 0s;
  }
  .nav-link a:hover {
    color: rgb(217, 215, 215);
  }
  .nav-link a:active {
    color: #9a0000;
  }
  
  /* Nav Search Part or right part */
  .nav-search {
    gap: 15px;
    /* width: 14vw; */
    display: flex;
    align-items: center;
}
.nav-search .nav-search-box {
    transition: all 50ms ease-in 0s;
    width: 200px;
    height: 25px;
    font-size: 1vw;
    border-radius: 4px;
    padding: 10px;
    border: 2px solid rgb(183, 157, 157);
    font-family: "Roboto", sans-serif;
}
.nav-search  i {
    color: rgb(255, 255, 255);
}
#search-for-nav {
    display: none;
}
/*///// for main code //////*/
.main-heading {
  text-align: center;
  margin: 20px 0;
}
.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;
  column-gap: 30px;
  margin: 30px 0;
}

.card {
  width: 360px;
  min-height: 430px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0.5px 0.5px 10px 1px#747878;
  cursor: pointer;
  overflow: hidden;
  transition: all 90ms ease 0s;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card img{
  width: 100%;
  height: 180px;
  object-fit: fill;
}
.card h1 a{
  text-decoration: underline;
  color: #0091ff;
}
.card h1{
  margin: 5px 7px;
  font-weight: 500;
}
.card p {
  margin: 5px 7px;
  font-size: 15px;
}
.last-updated{
  position: absolute;
  right: 0;
  bottom: 0;
  color: rgba(0, 51, 255, 0.901);
}
.card:hover {
  box-shadow: 4px 4px 10px 1px#b0b0b0;
  background-color: #e2e4e5;
  transform: translateY(-2px);
}
/* for moble screen  */
@media (max-width: 600px) {
  /* nav*/
  nav {
    justify-content: space-around;
  }
  .nav-logo {
    display: flex;
    align-items: center;
    width: 25vw;
  }
  .nav-logo h4 {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .nav-search .nav-search-box {
    display: none;
  }
  .nav-search button {
    display: none;
  }
  #search-for-big-scr{
    display: none;
  }
  #search-for-nav {
    display: inline-block;
    font-size: 5vw;
    margin-right: 2vw;
  }
  /* for nav triple bar && for search buton */
  nav .fa-bars,#search-for-nav{
    color: white;
    font-size: 25px;
  }
  /* for main code  */
  .card{
    width: 90vw;
  }
}
