@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* "RESETS" this is for all webpage */
/* Variable */
:root {
  --first-color: #a2a2a2;
  --second-color: #082813;
  --third-color: #1f2227;
  --fourth-color: #17c787;
  --heading-color: #333333;
  --paragraph-color: #777777;
  --accent-color-dark: #1d1d1d;
  --padding-inline: 20px;
  --footer-background: #25282e;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background-color: var(--fourth-color);
}
::-webkit-scrollbar-thumb {
  background: var(--second-color);
  border-radius: 12px;
  transition: all 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #0e4722;
}
a {
  text-decoration: none;
  color: white;
}
ul li {
  list-style-type: none;
}
body {
  background-color: #1c815a;
  color: white;
}
main {
  width: 90vw;
  margin: auto;
  height: 100vh;
}
/*///////////// code ////////////*/
.container {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.company-name {
  color: #011f3c;
  font-size: 50px;
}
.title {
  text-decoration: underline;
  font-size: 40px;
}
/* to display password */
.display-pass {
  width: 50%;
  height: 70px;
  margin: 30px 0;
  padding: 0 30px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}
.display-pass > input {
  font-size: 30px;
  font-weight: 400;
  outline: 0;
  border: 0;
  height: 70px;
  width: 70%;
}
.display-pass > img {
  height: 50%;
  cursor: pointer;
}
/* requirement for generate password */
.requirement{
  height: 200px;
  width: 50%;
  background-color: white;
  border-radius: 10px;
  margin: 0 0 20px 0;
  padding: 10px 10px;
  color: black;

}
.req-inner-cont{
  display: flex;
  justify-content: space-evenly;
  padding: 10px 10px;
}
.requirement>h3{
  color: #011f3c;
  font-size: 28px;
  font-weight: 600;
  width: 100%;
  border-bottom: 2px solid black;
}
.range-cont{
  display: flex;
  align-items: center;
}

#range{
  appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;  
  background: #000000;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
#range:hover {
  opacity: 1;
}
#range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  border-radius: 50%;
  height: 25px;
  background: #011f3c;
  cursor: pointer;
}
.range-val{
  margin: 0 10px;
  color: black;
  font-size: 20px;
}
.symbol-req-cont{
  font-size: 20px;
}
.generate-button {
  background-color: #011f3c;
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: 500;
  color: white;
}

@media (max-width: 600px) {
  .container {
    padding: 60px 0;
  }
  .company-name {
    font-size: 40px;
  }
  .title {
    font-size: 30px;
  }
/* password  */
  .display-pass {
    width: 98%;
    height: 60px;
    padding: 0 8px;
  }
  .display-pass > input {
    height: 50px;
    width: 85%;
    font-size: 24px;
  }
/* requirement */
.requirement{
  width: 98%;
  height: 50vh;
}
.req-inner-cont{
  flex-direction: column;
}
.range-cont{
  margin: 8px 0;
}
.symbol-req-cont{
  margin: 8px 0;
  font-size: 22px;
}
/* button  */
  .generate-button {
    padding: 10px 20px;
    font-size: 20px;
  }
}
