@import url('https://fonts.cdnfonts.com/css/gilroy-bold');
/* Resets*/
/* variables */

:root {
  --first-color: #626875;
  --main-color: #007cff;
  --paragraph-color: #666;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d0d4d5;
}
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  transition: all 0.3s ease;
  background-color: #626875;
  background-color: #000;
}

::-webkit-scrollbar-thumb:hover {
  background: #727474;
}

/* Pre Code*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: 'Gilroy-Bold', sans-serif;
  font-family: 'Gilroy-Heavy', sans-serif;
  font-family: 'Gilroy-Light', sans-serif;
  font-family: 'Gilroy-Medium', sans-serif;
  font-family: 'Gilroy-Regular', sans-serif;
}
a {
  text-decoration: none;
  color: black;
}

ul li {
  list-style-type: none;
}

/* Main */
.whole-container{
    height: 100%;
    width: 100%;
    background-color: #d0d4d5;
    /* position: relative; */
}


.home-nav{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3vw;
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-left img{
    height: 50px;
    width: 80px;
    margin-right: 5vw;
    margin-left: -2vw;
}
.nav-right{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
} 
.nav-right i{
    font-size: 22px;
}


/* Main */

main{
    height: calc(100% - 90px);
    width: 100%;
    display: flex;
    position: relative;
}
.main-left{
    width: 40%;
    height: 100%;
    padding: 8vw 3vw 5vw 5vw;
}

.main-left h6{
    font-size: 16px;
    color: #727474;
    margin-bottom: 0.7vw;
}
.main-left h1{
    font-size:55px;
    text-transform: uppercase;
    margin-bottom: 1.3vw;
}
.main-left p{
    font-size: 16px;
    font-weight: 500;
    width: 92%;

}
.main-left button{
    margin-top: 3vw;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    padding: 15px 40px;
    font-weight: 600;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    border: none;
    transition: all 80ms ease 0s;
}

.main-left button:hover{
    background-color: #adb1b1;
    color: #000;
}

/* Right Section */
.main-right{
    width: 60%;
    height: 100%;
    position: relative;
    padding: 5vw 3vw;
    /* white-space: nowrap; */
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.right-boxes{
    height: 32vw;
    width: 20vw;
    background-color: #fff;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    /* display: inline-block; */
    margin-right: 2vw;
    transition: all 90ms ease 0s;
    scroll-behavior: smooth;
}

.right-boxes:hover{
    transform: scale(1.03);
}

.right-boxes img{
    height: 70%;
    width: 100%;
    position: absolute;
    top: 1%;
    z-index: 0;
    object-fit: cover;
}
.right-boxes h5{
    position: absolute;
    bottom: 10%;
    right: 0;
    font-size: 1vw;
    background-color: #000;
    color: white;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 8px;
    border-bottom-right-radius: 0px;
}
.right-boxes h1{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.2vw;
    background-color: #d0d4d5;
    font-weight: 600;
    padding: 12px 25px;
    border-top-left-radius: 8px;
}



/* Responsive */
@media (max-width:600px) {
    /* Media nav */
    nav{
        padding-top: 1.5vw;
        flex-direction: column;
    }
    .nav-left a{
        display: none;
    }
    .nav-right{
        margin: 8vw 0 4vw 0;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .nav-right i{
        font-size: 6.5vw;
    }
/* Main Left */
    main{
        flex-direction: column;
        height: 200vh;
    }
    .main-left{
        padding: 13vw 1 0 1;
        width: 100%;
        height: 40%;
    }
    .main-left h6{
        margin: 5vw 0;
        font-size: 5vw;
    }
    .main-left h1{
        font-size: 12vw;
        margin: 4vw 0;
    }
    .main-left p{
        margin: 5vw 0;
        font-size: 5vw;
    }
    .main-left button{
        margin-top: 8vw;
    }

    /* Main Right */
    .main-right::-webkit-scrollbar{
        display: none;
    }
    .main-right{
        width: 100%;
        /* height: 60%; */
    }
    .right-boxes{
        margin-top: 40vw;
        height: 120vw;
        width: 95vw;
        display: flex;
        flex-direction: column;
    }
    .right-boxes h5{
        font-size: 3vw;
    }

    .right-boxes h1{
        font-size: 4vw;
    }
}