@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* presets  */
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}
.container {
  max-width: 90vw;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
/* nav code  */
nav {
  padding: 11px 20px;
  height: 65px;
  width: 100vw;
  display: flex;
  align-items: center;
}
/* logo  */
.nav-logo img {
  height: 32px;
  width: 32px;
  margin-right: 12px;
}
/* input field  */
.nav-input-field {
  display: flex;
  align-items: center;
}
#search-input,
#search-btn,
#nav-cross-btn,
#nav-visual-search {
  background-color: #e7e7e7;
  border: none;
  height: 40px;
  font-size: 100%;
  transition: all 70ms ease;
}
#search-btn,
#nav-cross-btn,
#nav-visual-search {
  color: #767676;
}
#search-btn {
  padding: 0 0 0 14px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#search-input {
  width: 60vw;
  padding: 2px 10px 2px 10px;
  outline: none;
}
#nav-cross-btn {
  padding: 0 14px 0 0;
  display: none;
}
#nav-visual-search {
  padding: 0 14px 0 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#search-btn:hover,
#nav-cross-btn:hover,
#nav-visual-search:hover {
  color: black;
}
/* nav other details section  */
.nav-other-detail {
  margin: 0 0 0 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 30%;
}
#nav-get-unsplash-a {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
#submit-img-button {
  padding: 0 11px;
  background-color: white;
  color: #767676;
  font-size: 14px;
  height: 32px;
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  transition: all 70ms ease;
}
#submit-img-button:hover {
  border-color: black;
  color: black;
}
#nav-notification-icon,
#nav-triple-bar,
#nav-profile-icon {
  color: #767676;
  font-size: 21px;
  transition: all 70ms ease;
}
#nav-notification-icon:hover,
#nav-triple-bar:hover,
#nav-profile-icon:hover {
  color: black;
}
/* main code */
.current-query-h1 {
  font-size: 28px;
  font-weight: 600;
  /* text-align: left; 
  width: 90%;
  margin-inline: auto; */
}
.search-results {
  margin: 40px 0 20px 0;
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
.search-results img {
  height: 260px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.image-cont {
  position: relative;
}
/* to show .download-button on hover  */
.image-cont:hover .download-button {
  display: block;
}
.download-button {
  position: absolute;
  bottom: 5%;
  right: 3%;
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: none;
}
.show-more-button {
  margin-bottom: 30px;
  padding: 3px 25px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

/* for mobile screen  */
@media (max-width:600px) {
    .container {
        max-width: 90vw;
    }
    /* nav code  */
nav {
    padding: 8px 6px;
  }
  /* logo  */
.nav-logo img {
    height: 28px;
    width: 28px;
    margin-right: 7px;
    }
    /* input field  */
    #search-input,
#search-btn,
#nav-cross-btn,
#nav-visual-search {
  font-size: 80%;
}
#search-input {
    width: 43vw;
    padding: 2px 10px 2px 10px;
  }
  /* nav other details section  */
  .nav-other-detail {
    margin: 0 0 0 1px;
  }
  #nav-get-unsplash-a {
    display: none;
  }
  #submit-img-button {
    display: none;
  }
  #nav-notification-icon{
    display: none;
  }
  /* main code */
  .current-query-h1{
    font-size: 24px;
  }
  .search-results {
    margin: 40px 0 20px 0;
    display: grid;
    gap: 18px;
    grid-template-columns: auto;
  }
  .search-results img {
    height: 260px;
    width: 100%;
  }
}