@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  --main-color: #183b56;
  --secondary-color: #577592;
  --third-color: #2294ed;
  --fourth-color: #1d69a3;
}
ul li {
  list-style-type: none;
  color: rgb(255, 255, 255);
}
a {
  color: black;
  text-decoration: none;
}
p {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
  line-height: 1.4rem;
}
body {
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
i {
  cursor: pointer;
  color: white;
}
.container {
  max-width: 90vw;
  overflow: hidden;
  margin-inline: auto;
}

/* Nav */

header {
  background-color: rgb(0, 0, 0);
  box-shadow: 2px 2px 14px 5px rgb(104, 102, 102);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  height: 60px;
}
/* Nav Left Part */
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo i {
  margin: 0 8px 0 25px;
  font-size: 25px;
  color: whitesmoke;
  transition: all 50ms ease-in 0s;
}
.nav-logo h4 {
  cursor: pointer;
  font-size: 15px;
  color: white;
  transition: all 50ms ease-in 0s;
}

.nav-logo h4:hover {
  color: var(--secondary-color);
}
.nav-logo i:hover {
  color: var(--secondary-color);
}

.nav-logo h4:active {
  color: #9a0000;
}
.nav-logo i:active {
  color: #9a0000;
}

.nav-logo a img {
  /* height: 60px; */
  width: 80px;
}

/* Nav Middle part */
.nav-link {
  display: flex;
  justify-content: space-around;
  width: 45vw;
  font-size: 1.2vw;
  border-left: 1px solid rgb(152, 150, 150);
  border-right: 1px solid rgb(152, 150, 150);
}
.bars-for-nav {
  display: none;
}
.nav-link a {
  color: white;
  transition: all 50ms ease-in 0s;
}
.nav-link a:hover {
  color: var(--secondary-color);
}
.nav-link a:active {
  color: #9a0000;
}

/* Nav Search Part or right part */
.nav-search {
  gap: 15px;
  /* width: 14vw; */
  display: flex;
  align-items: center;
}
.nav-search .nav-search-box {
  transition: all 50ms ease-in 0s;
  width: 200px;
  height: 25px;
  font-size: 1vw;
  border-radius: 4px;
  padding: 10px;
  border: 2px solid rgb(183, 157, 157);
  font-family: "Roboto", sans-serif;
}
.nav-search button i {
  color: rgb(0, 0, 0);
}
.nav-search button {
  border-radius: 4px;
  padding: 1.2px 20px;
  font-size: 1.4vw;
  background-color: white;
  color: rgb(0, 0, 0);
  transition: all 50ms ease-in 0s;
}

.nav-search button:hover {
  background-color: var(--secondary-color);
}
.nav-search button:active {
  background-color: #9a0000;
}
#search-for-nav {
  display: none;
}

/*///////////// Main Code///////////////////// */

main {
  padding-top: 20px;
  margin-top: 2.5vw;
  height: 100vh;
}

#loader{
  width: 95vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap : 60px;
  height: 100vh;
}
.card-container{
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 40px;

  /* for loader i made display:  none ; and i made it block in js */
  display: none;
}

.card {
  background-color: #fff;
  width: 360px;
  min-height: 400px;
  box-shadow: 0.5px 0.5px 10px 1px#424343;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  transition: all 90ms ease 0s;
}
.card:hover {
  box-shadow: 4px 4px 10px 1px#333334;
  background-color: #f4fafc;
  transform: translateY(-2px);
}

.card-header img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  margin: 12px 6px;
}
.news-source {
  margin: 12px 6px;
}
.news-description {
  margin: 12px 6px;
}

/* for js active class in nav anchor tag  */
.active{
  background-color: rgb(167, 167, 167);
  border-radius: 5px;
  padding: 2px ;
}
/* Responsive */
@media (max-width: 600px) {
  /* nav*/
  nav {
    justify-content: space-between;
  }
  .nav-logo h4 {
    display: none;
  }
  .nav-link {
    display: none;
  }
  .bars-for-nav {
    display: inline-block;
    font-size: 7vw;
  }
  .nav-search .nav-search-box {
    display: none;
    color: white;
  }
  .nav-search button {
    display: none;
  }
  #search-for-nav {
    display: inline-block;
    font-size: 5vw;
    margin-right: 2vw;
  }
}
